{% load static %}

  <!--   Core JS Files   -->
  <script src="{% static 'main/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'main/js/core/popper.min.js' %}"></script>
  <script src="{% static 'main/js/core/bootstrap.min.js' %}"></script>
  

  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  

  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
 
  <!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
  