{% extends 'main/base.html' %} {% load static %} {% block meta %}
<title>Home | Symptomining</title>
{% endblock %} {% block body %}

{% comment %} <nav class="navbar navbar-expand-md navbar-light justify-content-center" style="background-color:#2493a1;">
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav" style="margin-left:400px;">
           <a href="{% url 'home' %}" style="text-decoration: none;">
            <img style="margin-left: 50px;" src="{% static 'main/img/logo.png' %}" alt="logo" height="50px" > 
            <b style="color:white; margin-top:12px; margin-left:5px;" >Symtomining</b>
           </a>
        </ul>
        <ul class="right navbar-nav" >
            <li class="nav-item">
                <a style="color: white; margin-right: 10px;" class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
            </li>
            <li class="nav-item button-nav ml-4">
           <a href="{% url 'checkup' %}"><button class="btn button1">Start Checkup</button></a>
               
                <!-- <input type="button" value="Start Checkup" /> -->
            </li>
        </ul>
    </div>
</nav> {% endcomment %}
<body class="body">
    <!-- banner 1 -->
    <div class="container mt-5">
        <img class="center" src="{% static 'main/img/banner 1.jpg' %}" alt="logo"
            style="width:100%; border-radius: 5px;">
        <div class="T1">
            <h1>What is corona?</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque consequatur dolore ad impedit.
            Dolore
            magnam ducimus nihil suscipit minima dolor ipsum et dolorum, eum enim saepe voluptas repudiandae rerum.
            <br><br>
            <a href="{% url 'checkup' %}"><button class="btn button2">Start Checkup</button></a>
        </div>
    </div>

    <div class="container mt-4">
        <img class="center" src="{% static 'main/img/banner 2.jpg' %}" alt="logo"
            style="width:100%; border-radius: 5px;">
        <div class="T1">
            <h1>What is corona?</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque consequatur dolore ad impedit.
            Dolore
            magnam ducimus nihil suscipit minima dolor ipsum et dolorum, eum enim saepe voluptas repudiandae rerum.

        </div>
    </div>

    <div class="container mt-4">
        <img class="center" src="{% static 'main/img/banner 3.jpg' %}" alt="logo"
            style="width:100%; border-radius: 5px;">
        <div class="T1">
            <h1>What is corona?</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus neque consequatur dolore ad impedit.
            Dolore
            magnam ducimus nihil suscipit minima dolor ipsum et dolorum, eum enim saepe voluptas repudiandae rerum.

        </div>
    </div>
</body>

{% endblock %} 

{% block scripts %}

{% endblock %}