
.body
{
  background-color: #F0FAFB;
}
  .right.navbar-nav
  {
    position: absolute;
    width: auto;
    left: 65%;
    text-align: right;
    font-weight: bold;
}

.left.navbar-nav
{
    position: absolute;
    width: auto;
    left: 35%;
}
.button-nav{
   
    margin-top: 2px;
}
button {
    border: 1px solid #a1a1a1;
    padding: 5px 10px; 
    background: #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 5px red;
 }
 button:hover{
     background-color: rgb(186, 196, 194);
 }



  .container {
    position: relative;
  margin: 0 auto;
  }
  .container img {vertical-align: middle;} 
  .container .T1 {
    position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 97.5%;
  padding: 100px;
  }

      /* F0FAFB */
      
