/* background-image:url("https://i.ibb.co/WKfrpQb/Banner-1.png") */
/* background-image:url("https://i.ibb.co/8BNwFJK/Banner-2.png") */
/* background-image:url("https://i.ibb.co/r0KYDHz/Banner-3.png") */

/* ****************home**************** */
.body
{
  background-color: #F0FAFB !important;
  font-family: 'Roboto', sans-serif;

} 

.homejumb1 .jumbotron
{
	width: 75%;
	height: 619px;
	padding: 2rem 2rem;
	margin: auto;
	margin-top:3rem;
	border-radius: 0.3rem;
	background-image:url("../img/Banner-1.png");
  	background-repeat: no-repeat;
  	background-size: 100% 619px;
	border: 1px solid rgb(207, 207, 207);
}

.homejumb2 .jumbotron
{
	width:75%;
	height: 470px;
	padding: 2rem 2rem;
	margin: auto;
	margin-top:7rem;
	margin-bottom: -30px;
	border-radius: 0.3rem;
	background-image:url("../img/Banner-2.png");
	background-repeat: no-repeat;
	background-size: 100% 470px;
	border: 1px solid rgb(207, 207, 207);
}

.homejumb3 .jumbotron
{
	width:75%;
	height: 630px;
	padding: 2rem 2rem;
	margin: auto;
	margin-top:7rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(207, 207, 207);
	background-image:url("../img/Banner-3.png");
	background-repeat: no-repeat;
	background-size: 100% 630px;
}



  .right.navbar-nav
  {
    position: absolute;
    width: auto;
    left: 65%;
    text-align: right;
    font-weight: bold;
}

.left.navbar-nav
{
    position: absolute;
    width: auto;
    left: 35%;
}

.button-nav{
   
    margin-top: 2px;
}

.button1 {
  padding: 5px 10px !important;
  border: 2px solid #a1a1a1 !important;
  font-size: 15px !important;
  background-color: #dddddd !important;
  color: black !important;
  border-radius: 5px;
  transition: 0.2s all;
  outline: none;
}

.button1:active {
  transform: scale(0.98);  
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button2 {
  border: none;
  padding: 7px 14px !important;
  font-size: 16px;
  background-color: #dddddd !important;
  color: black !important;
  border-radius: 5px;
  /* box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); */
  transition: 0.2s all;
  outline: none;
  font-weight:900;
  position: relative;
  margin-top: 18%;
  margin-left: 62%;
}

.button2:active {
  transform: scale(0.98);  
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


  .container {
    position: relative;
    margin: 0 auto;
  }

/* *************jumbotron*************** */
.jmb1 .jumbotron{
  padding: 2rem 1rem;
  margin-top:3rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  width: 100%;
  /* margin-left: 10%; */
  height: 500px;
  background-image: url("../img/negative.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jmb11 .jumbotron{
  padding: 2rem 1rem;
  margin-top:3rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  width: 100%;
  /* margin-left: 10%; */
  height: 500px;
  background-image: url("../img/positive.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jmb111 .jumbotron{
  padding: 2rem 1rem;
  margin-top:3rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  width: 100%;
  /* margin-left: 10%; */
  height: 500px;
  background-image: url("../img/serious.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.homejumb1 .health{
  text-align: center;
  margin-top:13% !important;
  margin-left: 16%;
}
.homejumb1 .lead{
margin-top: 27%;
margin-left: 20%;
width: 300px;
}
.jmb2 .jumbotron{
  padding: 2rem 1rem;
  margin-top:3rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  width: 100%;
 
  height: 530px;

   background-image: url("../img/Recommendation.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.jmb2 .jumbotron a{
text-decoration: none;

}
.vac{
  margin-left:5%;
  position: relative;
font-weight: bold;
font-size:16px;
}

.start{
  margin-left:85%;
  margin-top: 154px;
  position: absolute;
font-weight: bold;
font-size:16px;
}
.homejumb2 .corona{
  position: relative;
  margin-top: 8%;
  margin-left: 55%;
  
  margin-bottom: 3%;

}
.homejumb2 .more{
  margin-left: 55%;
  position: relative;
  font-weight: 600;
  text-decoration: none;

}

.homejumb2 .more .arrw{
font-size: 12px;
position: relative;
margin-left:1%;
}
.jmb3 .jumbotron{
  padding: 2rem 1rem;
  margin-top:3rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../img/summary.png"); 
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
.jmb3 .jumbotron a{
text-decoration: none;
}

.homejumb3 .checkerinfo
{
  color: rgb(100, 100, 100);
}

.homejumb3 .sympt{
  font-family: 'Open Sans', sans-serif !important;
margin-top: 3%;
position: relative;
margin-left: 12%;
font-weight: 700;
}
.homejumb3 .answer{
  position:relative;
  margin-top: 4.5%;
  margin-left: 26%;
  font-size: 15px;
  margin-bottom: 1.9%;
  font-weight: 500;
}
.homejumb3 .enter{
  position:relative;
  margin-top: -3px;
  margin-left: 26%;
  font-size: 15px;
  margin-bottom: 1.5%;

}
.homejumb3 .done{
  position:relative;
  margin-left: 26%;
  font-size: 15px;
}
.homejumb3 .result{
  position: relative;
  margin-left: 28%;
  margin-top: -5px;
}
.homejumb3 .recom{
  position: relative;
  margin-left: 28%;
  margin-top: -5px;
}
.homejumb3 .see{
  position: relative;
  margin-left: 28%;
  margin-top: -5px;
}
.homejumb3 .test{
  position: relative;
  margin-left: 750px;
  margin-top: -90px;
}

.hd11{
    color:black;
    text-align: center;
    position: relative;
    margin-top: 13%;
    margin-left: 25%;
    font-size: 30px;
    font-weight: 700; 
    font-family: 'Open Sans', sans-serif;
  }  
.hd12{
   color:black;
    text-align: center;
    position: relative;
    margin-top: 12%;
    margin-left: 30%;
    max-width: 700px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    

}

.rec1{
   color:black;
   position: relative;
    margin-top: 8%;
    margin-left: 55px;
    font-size: 18px;
    font-weight: 500;
   font-family: 'Open Sans', sans-serif;
}

.rec2{
  color:black;
  position: relative;
  margin-top: 5%;
  margin-left: 55px;
  font-size: 18px;
  max-width: 1000px;
  font-weight: 500;
  margin-bottom: 10%;
  font-family: 'Open Sans', sans-serif;
}

.symp i{
	margin-bottom: 10px;
}
.jmb4 .jumbotron{
	width:100%;
	padding: 2rem 2rem;
	margin-bottom: 2rem;
	background-color: white;
	margin-right: 5%;
	border: 1px solid rgb(207, 207, 207);
}
.jmb5 {
	width:100%;
	height: 450px;
	padding: 2rem 2rem;
	margin-top:3rem;
	margin-bottom: -30px;
	border-radius: 0.3rem;
	background-image: url("https://i.ibb.co/tJ4TYVH/ezgif-com-gif-maker.gif");
  	background-repeat: no-repeat;
  	background-size: 100% 450px;
	margin-right: 5%;
	border: 1px solid rgb(207, 207, 207);
}

.qsans{
	font-size:24px;
	font-weight :700;
	margin-bottom:15px;
list-style: none;

}

.qsid a:link{
text-decoration: none;

}
.qsid a{
	font-size:18px;
	font-weight:600;
}
.source li{
	display: block;
	font-size: 18px;
	font-weight :600; 
  }
.author li{
	
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  font-weight :600;

}
.display-4 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    position: absolute;
    max-width: 700px;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	animation: animate 20s linear infinite;
	bottom: -300px;
  /* background-image:url("https://i.ibb.co/Qjbcd09/logo.png") */
}
.box-area li:nth-child(1) {
	left: 86%;
  animation-duration: 11s;
}
.box-area li:nth-child(2) {
	left: 12%;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
  animation-duration: 8s;
}
.box-area li:nth-child(4) {
	left: 42%;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
  animation-duration: 13s;
}
@keyframes animate {
	0% {
		transform: translateY(-1100px) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(0px) rotate(360deg);
		opacity: 0;
	}
}

/* Scroll Bar */

  ::-webkit-scrollbar
  {
    width: 1.25em;
  }
  ::-webkit-scrollbar-track{
    background: hsla(171, 49%, 89%, 1);
  }
  ::-webkit-scrollbar-thumb
  {
    background: linear-gradient(transparent, #4FBDC2);
    border: 0.25em solid hsla(171, 49%, 89%, 1);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover
  {
    background: linear-gradient(transparent, #288F94);
  }


  /* 404 Page */

  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
  }
  
  .notfound .notfound-404>div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffa200;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
  }
  
  .notfound .notfound-404>div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Cabin', sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  
  .notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .notfound p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  
  .notfound a {
    font-family: 'Cabin', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background-color: #8f8f8f;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    background-color: #2c2c2c;
  }
  
/* Our Team Page */

section.our-team {
  height: 800px;
  background-color: #F0FAFB;
  text-align: center;
  color: #fff;
  align-items: center;
}
.our-team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 100%;
  border: 6px solid #ffffff;
}
.our-team h2 {
  font-size: 36px;
  color: #288F94;
  font-weight: normal;
  margin-top: 150px;
}
.our-team p {
  color: rgb(32, 32, 32);
  width: 70%;
  margin: 10px auto 10px;
}
.our-team .member:hover {
  box-shadow: 0px 10px 0px 0px #288F94;
}
.our-team .member .member-info {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.our-team .member .member-detail {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.our-team .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}

.our-team .member .social a {
  margin: 0 10px;
  display: inline-block;
  color: #fff;
}
.our-team .member .social a:hover {
  color: #4FBDC2;
}
.our-team .member .social i {

  font-size: 18px;
  margin-top: -40px;
}
.our-team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(0, 31, 32, 0.83) 0%, rgba(0, 55, 58, 0.57) 20%, rgba(40, 143, 148, 0.09) 100%);
  opacity: 1;
  transition: 0.4s;
}
.our-team .member:hover .member-detail {
  bottom: 80px;
}
.our-team .member:hover .social {
  bottom: 10px;
}
