/* ****************home**************** */
.body
{
  background-color: #F0FAFB;
  font-family: 'Roboto', sans-serif;

}
  .right.navbar-nav
  {
    position: absolute;
    width: auto;
    left: 65%;
    text-align: right;
    font-weight: bold;
}

.left.navbar-nav
{
    position: absolute;
    width: auto;
    left: 35%;
}

.button-nav{
   
    margin-top: 2px;
}

.button1 {
  padding: 5px 10px !important;
  border: 2px solid #a1a1a1 !important;
  font-size: 15px !important;
  background-color: #dddddd !important;
  color: black !important;
  border-radius: 5px;
  transition: 0.2s all;
  outline: none;
}

.button1:active {
  transform: scale(0.98);  
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button2 {
  border: none;
  padding: 7px 14px !important;
  font-size: 16px;
  background-color: #dddddd !important;
  color: black !important;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
  outline: none;
  font-weight:900;
}

.button2:active {
  transform: scale(0.98);  
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


  .container {
    position: relative;
  margin: 0 auto;
  }
  .container img {vertical-align: middle;} 
  .container .T1 {
    position: absolute;
  bottom: 0;
  font-size: 17px !important;
  color: #f1f1f1;
  width: 97.5%;
  padding: 100px;
  }

/* *************Checkup*************** */
      
